src/main/mule/fhir-r4-practitioner-apikit-scaffolding-old.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="fhir-r4-practitioner-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" tlsContext="TLS_Context" protocol="HTTPS"/>
    </http:listener-config>
    <apikit:config name="fhir-r4-practitioner-api-config" api="resource::org.mule.examples:fhir-r4-practitioner-api:1.0.0:raml:zip:fhir-r4-practitioner-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <scripting:config name="Scripting_Config" doc:name="Scripting Config" doc:id="76c7a9c7-589c-4ecf-9f42-6e51cf1d63dd" />
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="1c35cd84-4051-4fc9-8cf3-e1638fa11e38" >
		<tls:trust-store insecure="true" />
		<tls:key-store type="jks" path="${keystore.path}" keyPassword="${keystore.password}" password="${keystore.password}" />
	</tls:context>
	<flow name="fhir-r4-practitioner-api-main">
        <http:listener config-ref="fhir-r4-practitioner-api-httpListenerConfig" path="/api/*" doc:name="HTTP:8081:/api Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fhir-r4-practitioner-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fhir-r4-practitioner-api-console">
        <http:listener config-ref="fhir-r4-practitioner-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fhir-r4-practitioner-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\Practitioner:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="put:\Practitioner:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="put:\Practitioner\(id):application\fhir+json:fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\Practitioner\(id):application\fhir+json:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="put:\Practitioner\(id):application\fhir+xml:fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\Practitioner\(id):application\fhir+xml:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="delete:\Practitioner:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="delete:\Practitioner:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="delete:\Practitioner\(id):fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\Practitioner\(id):fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="get:\Practitioner:fhir-r4-practitioner-api-config" doc:id="49ec4d31-4518-41bd-ae62-c30e5a9bbfb4" tracking:enable-default-events="true">
        <tracking:transaction doc:name="Txn ID is -- New York Datetime and a UUID" doc:id="b6b39714-1d83-4985-8555-94ef8cfb77ad" id="#[(now() &gt;&gt; &quot;America/New_York&quot;) as String ++ &quot;--&quot; ++ uuid() as String]" />
        <flow-ref doc:name="Call getPractitioner Implementation Flow" doc:id="214aeb89-6c94-44b0-8308-f8a364589d79" name="getPractitioner" />
    </flow>
    <flow name="get:\Practitioner\(id)\_history:fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\Practitioner\(id)\_history:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="get:\Practitioner\_history:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="get:\Practitioner\_history:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="get:\Practitioner\_search:fhir-r4-practitioner-api-config">
        <tracking:transaction doc:name="Set Transaction Id" doc:id="2d13aa2f-7db4-4acc-9fca-a94b5ae73d2a" id='#[(now() &gt;&gt; "America/New_York") as String ++ "--" ++ uuid() as String]'/>
		<flow-ref doc:name="Call getPractitionerSearch Flow" doc:id="3a43a4f0-27d6-4e34-8deb-196b531d3204" name="getPractitionerSearch"/>
    </flow>
    <flow name="get:\Practitioner\(id):fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Practitioner",
  id: "example",
  text: {
    status: "generated",
    div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n      <p>Dr Adam Careful is a Referring Practitioner for Acme Hospital from 1-Jan 2012 to 31-Mar\n        2012</p>\n    </div>"
  },
  identifier: [
    {
      system: "http://www.acme.org/practitioners",
      value: "23"
    }
  ],
  active: true,
  name: [
    {
      family: "Careful",
      given: [
        "Adam"
      ],
      prefix: [
        "Dr"
      ]
    }
  ],
  address: [
    {
      use: "home",
      line: [
        "534 Erewhon St"
      ],
      city: "PleasantVille",
      state: "Vic",
      postalCode: "3999"
    }
  ],
  qualification: [
    {
      identifier: [
        {
          system: "http://example.org/UniversityIdentifier",
          value: "12345"
        }
      ],
      code: {
        coding: [
          {
            system: "http://terminology.hl7.org/CodeSystem/v2-0360/2.7",
            code: "BS",
            display: "Bachelor of Science"
          }
        ],
        text: "Bachelor of Science"
      },
      period: {
        start: "1995"
      },
      issuer: {
        display: "Example University"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Practitioner\(id)\_history\(vid):fhir-r4-practitioner-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="vid">attributes.uriParams.'vid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\Practitioner\(id)\_history\(vid):fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="post:\Practitioner:application\fhir+json:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="post:\Practitioner:application\fhir+json:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="post:\Practitioner:application\fhir+xml:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="post:\Practitioner:application\fhir+xml:fhir-r4-practitioner-api-config" />
    </flow>
    <flow name="post:\Practitioner\_search:application\x-www-form-urlencoded:fhir-r4-practitioner-api-config">
        <logger level="INFO" message="post:\Practitioner\_search:application\x-www-form-urlencoded:fhir-r4-practitioner-api-config" />
    </flow>
</mule>
